html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-hover-background {
  &:hover {
    background-color: rgb(245, 248, 250);
  }
}

.custom-message-image {
  max-height: 25vh;

  /* Based on: https://stackoverflow.com/a/6528918 */
  position: static;
}

.custom-message-image-container {
  /* Based on: https://stackoverflow.com/a/6528918 */
  position: static;
  overflow: hidden;
}

.custom-link-over-stretched-link {
  position: relative;
  z-index: 2;
}
